.col2height.row {
    display: table;
}

.col2height.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*FORMULARIOS GENERAL*/

.textarea_feedback {
    font-size:12px;
}

/* HOME_MENUS*/

.insertarMenu {
    padding-top: 21px;   
}



.estado-activo {
    color: green;
}

.estado-inactivo {
    color:red;
}

.caja-menu:hover {
    background-color:#EAEAEA;
    cursor: pointer;
}

.caja-menu.selected {
    background-color:#EAEAEA;
}

.pagination-menus {
    margin-top: 0px !important;
}


/* PANTALLA_MENU */

#opciones-menu .navbar-defualt {
    margin-bottom:15px;
   
}

/* PANTALLA_MENU_PLATOS */

.caja-menu:active{
    cursor:move;
}

.caja-menu .editDel {
    position:absolute;
    width:100%;
}

.caja-menu .editDel div{
    visibility:hidden;
}




.caja-menu:hover .editDel div {
    visibility:visible;
    margin-top:10px;
}

.caja-menu .editDel .editar {
    position:relative;
    float:left;
    margin-left:10px;
}

.caja-menu .editDel .borrar {
    position:relative;
    float:right;
    margin-right:10px;
}


#pag-platos .caja-menu {
    position:relative;
} 


#listaIngredientesModal p:hover {
    color: #fff;
    background-color: green;
    cursor:pointer;
}

#listaIngredientesModal p.selected {
    color: #fff;
    background-color: green;
}


#listadoHerramientas .caja-link  .panel-body {
    text-align:center;
}

#listadoHerramientas .caja-link  .panel-body a{
    text-decoration:inherit;
    color:inherit;
    display:block;
}

body[class*='page-menu-menu-pdf'] .navbar-default, body[class*='page-menu-preview-'] .navbar-default
 {
    display:none;
}

body[class*='page-menu-menu-pdf'], body[class*='page-menu-preview-'] .container
 {
     margin-top:20px;
}


/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

/*Caja alergenos*/
.caja-alergenos {
    margin-top:15px;
    font-weight:bold;
    font-size:30px;
}
.caja-alergenos img {
    max-width:100%;
    height:auto;
}


body[class*='page-admin-ingredientes'] .list-inline > li {

    padding-left: 3px !important;
    padding-right: 3px !important;
}

body[class*='page-admin-ingredientes'] #listaIngredientes {
    margin-top:10px;
}
body[class*='page-admin-ingredientes'] #listaIngredientes p {
    border-bottom:1px solid #ddd;
    padding:5px;
}

body[class*='page-admin-ingredientes'] #listaIngredientes p:hover {
    cursor:pointer;
    background-color:#ddd;
    border-bottom:1px solid #ccc;
    color:#fff;
}

#tableUsuarios tbody tr {
    cursor:pointer;
}