.col2height.row {
    display: table;
}

.col2height.row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}


/*FORMULARIOS GENERAL*/

.textarea_feedback {
    font-size:12px;
}

/* HOME_MENUS*/

.insertarMenu {
    padding-top: 21px;   
}



.estado-activo {
    color: green;
}

.estado-inactivo {
    color:red;
}

.caja-menu:hover {
    background-color:#eee;
    cursor: pointer;
}

.caja-menu.selected {
    background-color:#EAEAEA;
}

.pagination-menus {
    margin-top: 0px !important;
}


/* PANTALLA_MENU */

#opciones-menu .navbar-defualt {
    margin-bottom:15px;
   
}

/* PANTALLA_MENU_PLATOS */

.caja-menu:active{
    cursor:move;
}

.caja-menu .editDel {
    position:absolute;
    width:100%;
}

.caja-menu .editDel div{
    visibility:hidden;
}




.caja-menu:hover .editDel div {
    visibility:visible;
    margin-top:10px;
}

.caja-menu .editDel .editar, .caja-menu .editDel .editarVisibilidad   {
    position:relative;
    float:left;
    margin-left:10px;
}

.caja-menu .editDel .editarVisibilidad .glyphicon-eye-open {
    color:green;
}

.caja-menu .editDel .editarVisibilidad .glyphicon-eye-close {
    color:red;
}

.caja-menu .editDel .borrar {
    position:relative;
    float:right;
    margin-right:10px;
}


#pag-platos .caja-menu {
    position:relative;
} 


#listaIngredientesModal p:hover {
    color: #fff;
    background-color: green;
    cursor:pointer;
}

#listaIngredientesModal p.selected {
    color: #fff;
    background-color: green;
}


#listadoHerramientas .caja-link  .panel-body {
    text-align:center;
}

#listadoHerramientas .caja-link  .panel-body a{
    text-decoration:inherit;
    color:inherit;
    display:block;
}

body[class*='page-menu-menu-pdf'] .navbar-default, body[class*='page-menu-preview'] .navbar-default
 {
    display:none !important;
}

body[class*='page-menu-menu-pdf'], body[class*='page-menu-preview'] .container
 {
     margin-top:20px;
}




/*PLANTILLA MENU DIARIO*/

.preview-menus {
    width: 21cm !important;
    margin: 0 auto;
}

.preview-menus .row{
    width: 21cm;
}


.preview-ico-alergeno {
    width: 30px;
    margin-top: 5px;
}

.categoria-total {
    page-break-inside: avoid;
}

td {
    page-break-inside: avoid;
}


.menu-template-1 {
    background-color:#fff !important;
    font-family: 'Muli', sans-serif !important;
    color:#562D30;
}

.menu-template-1 h1 {
  font-family: 'Muli', sans-serif !important;
}

.menu-template-1 .cabeceraLogo {
    display:none !important;
}



.menu-template-1 .nombreRest {
    font-size:45px;
    
}

.menu-template-1 .platosTraduccion {
    font-size:15px;
}

.menu-template-1 span.traduccion:last-child:after {
  content: " " !important;
}

.menu-template-1 span.traduccion:after {
  content: ",";
}

.menu-template-2 .cabeceraLogo {
    display:none !important;
}

.menu-template-2 {
    background-color:#fff !important;
    color:#404040;
}

.menu-template-2 .platosTraduccion {
    font-size:14px;
}


.menu-template-2 .nombreRest {
    font-size:45px;
    background-color:#000;
    color:#fff;
}

.menu-template-2 .nombreMenu {
    
    font-size:35px;
    margin-top:20px;
   
}

.menu-template-2 .categoriaPlato {
      font-size: 25px;
      margin-top: 30px;
      font-weight:bold;
      border-bottom:1px solid #9d9d9d;
}

.menu-template-2 .plato {
    font-size:18px;
    margin-top:25px;
}

.menu-template-2 .precio
{
  background-color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}

.menu-template-2 .alergeno {
    display:inline-block;
      margin-left: 15px;
      margin-right: 15px;
}

.menu-template-2 .alergenos {
      border-top: 1px solid #9d9d9d;
      margin-top: 40px;
      padding-top: 20px;
}

.menu-template-2 span.traduccion:last-child:after {
  content: " " !important;
}

.menu-template-2 span.traduccion:after {
  content: ",";
}



/*PLANTILLAS CARTA*/



.menu-template-3 .cabeceraLogo{
    display:none !important;
}

.menu-template-3 {
    background-color:#fff !important;
    color:#404040;
}

.menu-template-3 .nota-alergenos {
    font-size:16px;
    text-transform:uppercase;
}

.menu-template-3 .nombreRestaurante {
    margin-top:30px;
    font-size:20px;
    color:#800007;
    text-transform:uppercase;
    font-weight:bold;
}

.menu-template-3 .categoriaPlato {
    margin-top:15px;
    margin-bottom:15px;
    font-size:20px;
}






.menu-template-4 .cabeceraLogo{
    display:none !important;
}

.menu-template-4 {
    background-color:#000 !important;
    color:#fff;
}

.menu-template-4 .nota-alergenos {
    font-size:16px;
    text-transform:uppercase;
    color: #ffffff;
}

.menu-template-4 .nombreRestaurante {
    margin-top:30px;
    font-size:30px;
    color:#800007;
    text-transform:uppercase;
    font-weight:bold;

}

.menu-template-4 .categoriaPlato {
    margin-top:15px;
    margin-bottom:15px;
    font-size:20px;
    background-image: url('../img/franja.png');
    background-size: cover;
    background-position: center;
    margin-left: 15px;
}


.listado-ingredientes .alergeno {
    display:inline-block;
      margin-left: 15px;
      margin-right: 15px;
}

.listado-ingredientes .alergenos {
      border-top: 1px solid #CECECE;
      margin-top: 40px;
      padding-top: 20px;
}

.listado-ingredientes .plato {
    margin-top:15px;
}

.listado-ingredientes .cabeceraLogo {
    display:none !important;
}

.listado-ingredientes .nombreRest {
    font-size:25px;
    font-weight:bold;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    padding-top:5px;
    margin-top:15px;
    margin-bottom:15px;
}




.menu-template-1 .fondoNombreMenu {
    background-image:url("../img/menu1-fondo-nombre.png");
    width:489px;
    height:62px;
    font-size:30px;
    color:#fff;
    padding-top:20px;
    margin-top: -15px;
    font-size: 20px;
}

.menu-template-1 .categoriaPlato {
      font-size: 25px;
      margin-top: 30px;
}

.menu-template-1 .separadorCategoria {
    background-image:url("../img/menu1-separador-categorias.png");
    width:456px;
    height:26px;
    margin-top:-5px;
}

.menu-template-1 .plato {
    font-size:20px;
    margin-top:25px;
}

.menu-template-1 .precio
{
  background-color: #C4D556;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
    max-width: 25%;
    margin:0 auto;
    margin-top: 25px;
}

.menu-template-1 .alergeno {
    display:inline-block;
      margin-left: 15px;
      margin-right: 15px;
}

.menu-template-1 .alergenos {
      border-top: 1px solid #CECECE;
  margin-top: 40px;
  padding-top: 20px;
}


/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*Caja alergenos*/
.caja-alergenos {
    margin-top:15px;
    font-weight:bold;
    font-size:30px;
}
.caja-alergenos img {
    max-width:100%;
    height:auto;
}


body[class*='page-admin-ingredientes'] .list-inline > li {

    padding-left: 3px !important;
    padding-right: 3px !important;
}

body[class*='page-admin-ingredientes'] #listaIngredientes {
    margin-top:10px;
}
body[class*='page-admin-ingredientes'] #listaIngredientes p {
    border-bottom:1px solid #ddd;
    padding:5px;
}

body[class*='page-admin-ingredientes'] #listaIngredientes p:hover {
    cursor:pointer;
    background-color:#ddd;
    border-bottom:1px solid #ccc;
    color:#fff;
}

#tableUsuarios tbody tr {
    cursor:pointer;
}

.navbar {
    min-height:25px !important;
    margin-bottom:0 !important;
    box-shadow: 0px 0px 7px 2px #111;
}

.navbar-nav>li>a {
    color: #ffffff !important;
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.navbar-nav>li>a:hover {
    color:#777 !important;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff !important;
    }
}

.navbar-default {
    background-color:#000 !important;
    border:none !important;
    border-radius:0 !important;
}

.navbar img {
    max-height:50px !important;
}

.navbar-brand {
    padding:0 !important;
}

.cabeceraLogo {
    background-image:url('../img/fondo-alergenos-bn.jpg');
    background-position:0 0;
    min-height:80px;
    margin-bottom:40px;
    box-shadow: 0px 0px 7px 2px #ccc;

}

.panel-default>.panel-heading {
    background-color:#0081c3 !important;
    color:#fff !important;
    font-weight:bold;
}

body {
    background-color:#ececec !important;
    font-family:'Lato' !important;
}

body h1{
        font-family:'Lato' !important;

}

.cabeceraLogo {
    color:#94bb12;
}

.cabeceraLogo.row {
    margin-left:0 !important;
    margin-right: 0 !important;
}

.caja-menu .nombreMenu {
    font-size:20px;
}

.caja-menu .row {
    line-height:50px;
}

.caja-menu {
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.menuCabecera {
    text-align:right;
}

.menuCabecera .navbar-default {
    background:none !important;
    font-size:22px !important;
    margin-top:25px !important;
    color:#94bb12 !important;
}


.menuCabecera .navbar-default .navbar-nav>li>a {
    color:#94bb12 !important;
}

.navbar-default .navbar-nav  a {
    color:#fff;
}



.menuCabecera .navbar-default .navbar-nav > .active > a {
    background:none !important;
    font-weight:bold !important;
    color:#1193BB !important;
    padding-bottom:5px;
    border-bottom:2px solid #1193BB;
}

.dropdown-menu>li>a {
    color:#000 !important;
}


.textoLostIng {
    font-size:17px;
    margin-bottom:10px;
}

.numberAlert {
    position: absolute;
      top: -5px;
      left: 8px;
      background-color: red !important;
      z-index:100;
}


.ticketRow {
    padding-top:10px;
    padding-bottom:10px;
}

#modalPlantillas .cuerpo a {
    
    
}

#modalPlantillas .cuerpo img{
    max-width:100%;
    height:auto;
    border:1px solid #333;
}

.page-menu-export-listado .navbar-default{
    display:none !important;
    
}


.page-menu-export-cuadrante .navbar-default{
    display:none !important;

}

.page-menu-export-cuadrante .cabeceraLogo{
    display:none !important;

}

.page-menu-export-cuadrante .btn{
    display:none !important;

}

.page-menu-export-cuadrante {
    background-color: #ffffff !important;
}


.page-menu-export-listado .btn{
    display:none !important;
    
}

.page-menu-export-listado {
    background-color:#fff !important;
}

.page-menu-export-listado .grupo-plato{
    page-break-inside:avoid;
}

.page-menu-export-listado .listado-ingredientes {
    page-break-inside:avoid; page-break-after:auto
}

.page-menu-export-cuadrante .footer {
    display: none;
}
.page-menu-export-listado .footer {
    display: none;
}

.preview-menus .footer{
    display: none;
}


table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }


.productoHome {
    border: 1px solid #000000;
    min-height: 200px !important;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: table;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.productoHome:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -webkit-transition: all 1s linear;
    -o-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -kthtml-transition: all 0.1s linear;
    transition: all 0.1s linear;
}


.productoHome h3 {
    display: table-cell;
    vertical-align: middle;

    color: #FFFFFF;

}
@media (max-width: 991px) {
    .productoHome {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    .productoHome {

    }
}

.productoHome.certificado {

    background-color: #337ab7;
}

.productoHome.book {
    background-color: #2ca02c;
}

.productoHome.herramienta {
    background-color: #800007;
}

.productoHome.manual {
    background-color: #cccccc;
}

.productoHome > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {

    width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    color: #FFF;
    margin-top: 50px;
    position: absolute;

}

.footer a {
    color:inherit;

}

.footer span {
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    padding-bottom: 100px;
    height: 100%;
}

.tabla-cuadrante {
    border:1px solid #000000 !important;
}

.tabla-cuadrante tr{
    border:1px solid #000000 !important;
}

.tabla-cuadrante td{
    border:1px solid #000000 !important;
}

.tabla-cuadrante th{
    border:1px solid #000000 !important;
}

.menu-template-3 tr{
    border:1px solid #000000 !important;
}

.menu-template-3 td{
    border:1px solid #000000 !important;
}